USE [TestDatabase]
GO
/****** Object:  Table [dbo].[template]    Script Date: 09/26/2014 00:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[template](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[site_id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[descr] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[datum] [date] NULL,
	[tmp] [nvarchar](50) NULL,
	[parent_id] [int] NULL,
	[structure] [nvarchar](50) NULL,
 CONSTRAINT [PK_template] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[template] ON
INSERT [dbo].[template] ([id], [site_id], [name], [descr], [status], [datum], [tmp], [parent_id], [structure]) VALUES (1, 1, N'site1', N'site1 desc', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[template] ([id], [site_id], [name], [descr], [status], [datum], [tmp], [parent_id], [structure]) VALUES (2, 2, N'site2', N'site2 desc', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[template] OFF
/****** Object:  Table [dbo].[upload_files]    Script Date: 09/26/2014 00:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[upload_files](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[file_name] [nvarchar](50) NULL,
	[file_type] [nvarchar](50) NULL,
	[document] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_upload_files] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[upload_files] ON
SET IDENTITY_INSERT [dbo].[upload_files] OFF
/****** Object:  Table [dbo].[template_module]    Script Date: 09/26/2014 00:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[template_module](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[page] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[descr] [nvarchar](50) NULL,
	[site_id] [int] NULL,
	[defaultposition] [nvarchar](50) NULL,
	[parent_id] [int] NULL,
 CONSTRAINT [PK_template_module] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[template_module] ON
INSERT [dbo].[template_module] ([id], [page], [name], [status], [descr], [site_id], [defaultposition], [parent_id]) VALUES (1, NULL, N'Left Catalog One Level', NULL, N'Left Catalog One Level', NULL, NULL, NULL)
INSERT [dbo].[template_module] ([id], [page], [name], [status], [descr], [site_id], [defaultposition], [parent_id]) VALUES (2, NULL, N'Header One', NULL, N'Header One', NULL, NULL, NULL)
INSERT [dbo].[template_module] ([id], [page], [name], [status], [descr], [site_id], [defaultposition], [parent_id]) VALUES (3, NULL, N'Footer 1', NULL, N'Footer 1 Desc', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[template_module] OFF
/****** Object:  Table [dbo].[template_line]    Script Date: 09/26/2014 00:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[template_line](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tid] [int] NULL,
	[mid] [int] NULL,
	[ord] [int] NULL,
	[tip] [nvarchar](50) NULL,
	[parent_id] [int] NULL,
	[languages2] [nvarchar](50) NULL,
	[hidden2] [nvarchar](50) NULL,
 CONSTRAINT [PK_template_line] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[template_line] ON
INSERT [dbo].[template_line] ([id], [tid], [mid], [ord], [tip], [parent_id], [languages2], [hidden2]) VALUES (17, 1, 1, NULL, N'1-1', NULL, NULL, NULL)
INSERT [dbo].[template_line] ([id], [tid], [mid], [ord], [tip], [parent_id], [languages2], [hidden2]) VALUES (18, 2, 1, NULL, N'2-1', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[template_line] OFF
/****** Object:  StoredProcedure [dbo].[SaveFile]    Script Date: 09/26/2014 00:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SaveFile] 

@file_name VARCHAR(50),
@file_type VARCHAR(50),
@document VARBINARY(MAX)

AS
BEGIN

Insert into upload_files ([file_name], file_type, document)
Values(@file_name,@file_type,@document)

END
GO
/****** Object:  StoredProcedure [dbo].[GetFiles]    Script Date: 09/26/2014 00:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFiles]

AS
BEGIN

Select * from upload_files

END
GO
/****** Object:  StoredProcedure [dbo].[GetFileById]    Script Date: 09/26/2014 00:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetFileById]
@id INT

AS
BEGIN

Select * from upload_files
where id = @id

END
GO
/****** Object:  StoredProcedure [dbo].[DuplicateTemplates]    Script Date: 09/26/2014 00:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[DuplicateTemplates] 
AS
BEGIN
	SET NOCOUNT ON;

	-- 1-st step - Duplicate template table rows
	INSERT INTO template(site_id,name, descr, [status], datum, tmp, structure, parent_id)
	SELECT site_id, 'Duplicate Page', descr, [status], datum, tmp,  structure, id FROM template
	
	-- 2-nd step - Duplicate template_module table rows
	INSERT INTO template_module ([page], name, [status], descr, site_id, defaultposition, parent_id)
	SELECT [page], name, [status], descr, site_id, defaultposition, id FROM template_module

	-- 3-rd step - Duplicate template_line rows using newly created ids form previous 2 queries
	INSERT INTO template_line (tid, mid, ord, tip, parent_id, languages2, hidden2)
	SELECT t.id, tm.id, tl.ord, tl.tip, tl.id, tl.languages2, tl.hidden2
		FROM template_line tl
			inner join template t on tl.tid = t.parent_id
			inner join template_module tm on tl.mid = tm.parent_id
		WHERE t.parent_id is not null and tm.parent_id is not null

END
GO
/****** Object:  ForeignKey [FK_template_line_template]    Script Date: 09/26/2014 00:26:27 ******/
ALTER TABLE [dbo].[template_line]  WITH CHECK ADD  CONSTRAINT [FK_template_line_template] FOREIGN KEY([tid])
REFERENCES [dbo].[template] ([id])
GO
ALTER TABLE [dbo].[template_line] CHECK CONSTRAINT [FK_template_line_template]
GO
/****** Object:  ForeignKey [FK_template_line_template_module]    Script Date: 09/26/2014 00:26:27 ******/
ALTER TABLE [dbo].[template_line]  WITH CHECK ADD  CONSTRAINT [FK_template_line_template_module] FOREIGN KEY([mid])
REFERENCES [dbo].[template_module] ([id])
GO
ALTER TABLE [dbo].[template_line] CHECK CONSTRAINT [FK_template_line_template_module]
GO
